<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/Config :: common_head"></head>
    <body class="sb-nav-fixed">
        <div th:replace="layout/navigation :: top_navi"></div>
        <div id="layoutSidenav">
            <div th:replace="layout/navigation :: left_navi"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">연령별 정보</h1>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                메뉴별 주문 건수
                            </div>
                            <div class="card-body"><canvas id="countChart" width="100%" height="30"></canvas></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                메뉴별 매출 금액
                            </div>
                            <div class="card-body"><canvas id="salesChart" width="100%" height="30"></canvas></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                    </div>
                </main>
                <footer th:replace="layout/navigation :: footer"></footer>
            </div>
        </div>
    </body>
    <script>
    
	    var ctx = document.getElementById('countChart').getContext('2d');
	    var cp = "[[${sales}]]"
	    console.log(cp);
	    var cpx = JSON.parse(cp);
	    var myChart = new Chart(ctx, {
	        type: 'bar',
	        data: {
	            labels: [[${menuNames}]],
	            datasets: [{
	                label: '매출 금액',
	                data: cpx.young,
	                backgroundColor: 'rgba(54, 162, 235, 0.2)'
	                ,
	                borderColor: 'rgba(54, 162, 235, 1)'
	                ,
	                borderWidth: 1
	            }]
	        },
	        options: {
				responsive: true,
				scales: {
					yAxes: [{
						ticks: {
							min: 0
						}
					}]
				}
			}
	    });
    </script>
</html>
