<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/Config :: common_head"></head>
    <body class="sb-nav-fixed">
        <div th:replace="layout/navigation :: top_navi"></div>
        <div id="layoutSidenav">
            <div th:replace="layout/navigation :: left_navi"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        일간 방문객 추이
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        월간 매출액 추이
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                연간 주문 정보
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>주문내역</th>
                                                <th>연령</th>
                                                <th>주문 날짜</th>
                                                <th>금액</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                        	<tr>
                                                <th>주문내역</th>
                                                <th>연령</th>
                                                <th>주문 날짜</th>
                                                <th>금액</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr th:each="order : ${orders}">
                                                <td th:text="${order.menus}"></td>
                                                <td th:text="${order.age}"></td>
                                                <td th:text="${order.date}"></td>
                                                <td th:text="${order.price}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="layout/navigation :: footer"></footer>
            </div>
        </div>
    </body>
    
    <script th:inline="javascript">
    	
	    var ctx = document.getElementById('myBarChart').getContext('2d');
	    var myChart = new Chart(ctx, {
	        type: 'bar',
	        data: {
	            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
	            datasets: [{
	                label: '매출 금액',
	                data: [[${salespermonth}]],
	                backgroundColor: 'rgba(54, 162, 235, 0.2)'
	                ,
	                borderColor: 'rgba(54, 162, 235, 1)'
	                ,
	                borderWidth: 1
	            }]
	        },
	        options: {
				responsive: true,
				scales: {
					yAxes: [{
						ticks: {
							min: 0
						}
					}]
				}
			}
	    });
	    
	    var ctx = document.getElementById('myAreaChart').getContext('2d');
	    var myChart = new Chart(ctx, {
	        type: 'line',
	        data: {
	        	labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31],
	            datasets: [{
	                label: '일간 주문수',
	                data: [[${orderperday}]],
	                backgroundColor: 'rgba(54, 162, 235, 0.2)'
	                ,
	                borderColor: 'rgba(54, 162, 235, 1)'
	                ,
	                borderWidth: 1
	            }]
	        },
	        options: {
				responsive: true,
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				},
				parsing: {
			        xAxisKey: "x",
			        yAxisKey: "y"
			    }
			}
	    });
    </script>
</html>
